<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <script src="./helper.js"></script>
    <title> My Form </title>
</head>

<body>
    <header>
        <h2>Tenant Database</h2>
    </header>
    <form action="/tenant_info" method="POST">
        <fieldset>
            <label>Start Date</label>
            <input type="date" id='start_date' name="start_date" required>
            <br><br>
            <label>End Date</label>
            <input type="date" id="end_date" name="end_date" required>
            <br><br>
            <label>Frequency</label>
            <select name="frequency" required>
                <option value="monthly">MONTHLY</option>
                <option value="fortnightly">FORTNIGHTLY</option>
                <option value="weekly">WEEKLY</option>
            </select> 
            <br><br>
            <label>Weekly Rent</label>
            <input type="number" id="weekly_rent" name="weekly_rent" required>
            <br><br>
            <label>Time Zone</label>
            <input type="time" id="time_zone" name="time_zone">
            <br><br>
            <input type="submit"  value="Submit"></input>
        </fieldset>
    </form>   
</body>
</html>